.tray {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 350px;
  z-index: 2000;
  transition: right 0.3s ease-out;
  background: #f4f4f4;
  will-change: right;
}

.tray--open {
  right: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.tray--closed {
  right: -350px;
}

.tray__closer {
  position: relative;
  left: -45px;
  top: 5px;
}

.tray--closed .tray__closer {
  display: none;
}

.tray--open .tray__closer {
  display: block;
}