.button--map:not(.button--map--icon-only) i {
  padding-right: 8px;
}

@media only screen and (min-width: 600px) {
  .button--map {
    overflow-x: hidden;
    max-width: 36px;
    transition: max-width 0.4s ease-out;
  }

  .button--map:hover {
    max-width: 100px;
  }
}