.button--tray-tab {
  width: 38px;
}

.button--tray-tab:first-child {
  margin-top: 10px; 
}

.button--tray-tab {
  margin-bottom: 10px; 
}

.button.button--tray-tab--selected {
  background-color: dodgerblue;
}

.button.button--tray-tab--selected:hover {
  background-color: dodgerblue;
}

.tab-tray__button-container {
  position: relative;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.tab-tray__button-container--tabs {
  display: flex;
  flex-direction: column;
}

.tray--tabbed .tray__closer {
  position: unset;
  top: unset;
  left: unset;
}

.tray--tabbed__page {
  position: absolute;
  top: 0px;
  display: none;
  visibility: hidden;
}

.tray--tabbed__page--visible {
  display: block;
  visibility: visible;
}
