.button--tray-tab {
  width: 38px;
}

.button--tray-tab:first-child {
  margin-top: 10px; 
}

.button--tray-tab {
  margin-bottom: 10px; 
  display: block;
}

.button.button--tray-tab--selected {
  background-color: dodgerblue;
}

.button.button--tray-tab--selected:hover {
  background-color: dodgerblue;
}

.tab-tray__button-container {
  position: absolute;
  right: 370px;
}

.tab-tray__closer-container {
  position: absolute;
  right: 370px;
  bottom: 0px;
}

.tab-tray__button-container--tabs {
  display: flex;
  flex-direction: column;
}

.tab-tray__page-container {
  display: flex;
  height: 100%;
}

.tray--tabbed .tray__closer {
  position: unset;
  top: unset;
  left: unset;
}

.tray--tabbed__page {
  top: 0px;
  display: none;
  visibility: hidden;
  overflow-y: scroll;
  padding: 20px;
  width: 100%;
}

.tray--tabbed__page--visible {
  display: block;
  visibility: visible;
}
